apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: mario
  name: mario-deployment
  namespace: default 
spec:
  progressDeadlineSeconds: 600
  replicas: 2
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: mario
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: mario
    spec:
      containers:
      - image: nirmalnaveen/supermario:latest
        imagePullPolicy: Always
        name: mario-container
        ports:
        - containerPort: 80
          protocol: TCP
        resources: {}
      
