# Please edit the object below. Lines beginning with a '#' will be ignored,
# and an empty file will abort the edit. If an error occurs while saving this file will be
# reopened with the relevant failures.
#
apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    deployment.kubernetes.io/revision: "1"
    kubectl.kubernetes.io/last-applied-configuration: |
      {"apiVersion":"apps/v1","kind":"Deployment","metadata":{"annotations":{},"labels":{"app":"mario"},"name":"mario-deployment","namespace":"default"},"spec":{"replicas":1,"selector":{"matchLabels":{"app":"mario"}},"template":{"metadata":{"labels":{"app":"mario"}},"spec":{"containers":[{"image":"nirmalnaveen/supermario:latest","name":"mario-container","ports":[{"containerPort":80}]}]}}}}
  creationTimestamp: "2025-11-06T03:44:50Z"
  generation: 1
  labels:
    app: mario
  name: mario-deployment
  namespace: default
  resourceVersion: "156720"
  uid: 753dd94b-4cb8-48a2-9a46-fee67bac806d
spec:
  progressDeadlineSeconds: 600
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: mario
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: mario
    spec:
      containers:
      - image: nirmalnaveen/supermario:latest
        imagePullPolicy: Always
        name: mario-container
        ports:
        - containerPort: 80
          protocol: TCP
        resources: {}
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
status:
  availableReplicas: 1
  conditions:
  - lastTransitionTime: "2025-11-06T03:45:01Z"
    lastUpdateTime: "2025-11-06T03:45:01Z"
    message: Deployment has minimum availability.
    reason: MinimumReplicasAvailable
    status: "True"
    type: Available
  - lastTransitionTime: "2025-11-06T03:44:50Z"
    lastUpdateTime: "2025-11-06T03:45:01Z"
    message: ReplicaSet "mario-deployment-d485c85dc" has successfully progressed.
    reason: NewReplicaSetAvailable
    status: "True"
    type: Progressing
  observedGeneration: 1
  readyReplicas: 1
  replicas: 1
  updatedReplicas: 1
